@use "base/variables" as v;
@use "base/mixins" as m;

.galeria {
    @include m.contenedor;
    &-imagenes {
        @include m.grid(1, 2rem);

        @include m.telefono {
            @include m.grid(2, 2rem);
        }
        @include m.tablet {
            @include m.grid(3, 2rem);
        }

        @include m.portatil {
            @include m.grid(4, 2rem);
        }

        img {
            height: 20rem;
            object-fit: cover;
        }
        
    }
}

// SCSS o CSS
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); // fondo negro semi-transparente
  display: grid;
  place-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-out forwards;
  &.fadeout{
    animation: fadeout 0.3s ease-out forwards;
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: scale(0.8);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

.imagen-modal {
  max-width: 60%;
  max-height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.no-scroll {
  overflow: hidden;
}

.boton-cerrar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: v.$blanco;
  border: none;
  color: v.$negro;
  cursor: pointer;

}